body {
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    background-color: #f2f2f2;
    overflow: hidden;
    
  }

  /*  styles for stat values */
  .values{
    display: inline-block;

  }

  html{
    overflow: hidden;
  }
  
  /*  styles for index page, content is in 1/3 of the page */

  #index-center{
    position: relative;
    overflow: hidden;

    align-items: center;
    justify-content: center;

    padding-top: 20vh;
  }

  /* background for index page, walking unicorns */
  .floating-unicorn {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100px;
    animation: moveRight 10s linear;
    pointer-events: none;
    z-index: -9999;

  }

    /* animation for walking unicorns */
  @keyframes moveRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(120vw);
    }
  }


/* pet styles for feeding game */
.pet-game {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 6rem;
}



/* default styles for pet (not in feeding game)*/
.pet-default {
  font-size: 6rem;
  margin: 1rem 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: grab;
}
  
  button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .food {
    position: absolute;
    font-size: 30px;
    top: 0;
  }
/* visible only when game is played */
  #game-area{
    position: fixed;
    display:none;
    border: 1px solid gray;
    height: 95vh;
    width: 98vw;
  }

  /* table for choosing pet*/
#pet-selector{
  display: none;
  margin: 0 auto;
  text-align: center;
}

#pet-selector td {
  text-align: center;
  padding: 1rem;
}

  /* pet in table style*/
.pet-select{
  font-size: 6rem;
  text-align: center;

}

  /* on phones there are only emojis without text*/

.pet-btn::after {
  content: attr(data-label); 
  font-size: 1rem;
}

@media (max-width: 600px) {
  .pet-btn::after {
    content: "";
  }

  /* "faster" unicorns, so they look same speed in phones */
  .floating-unicorn{
    animation: moveRight 5s linear;
  }

}


.pet-btn {
  transition: transform 1s ease;
  border-radius: 10%;
  background-color: #d9c4bf ;
}


.pet-btn:hover {
  transform: scale(1.1);
  background-color: #fde1db;
  box-shadow: 0 0 0.5em navy;
}

/* black area in the front for sleeping*/
#sleep-dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 30, 0.7);
  z-index: 9999;
  display: none; 
  pointer-events: none; 
}

